/**
 * some helpers located on libs.less
 */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301)
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}  */
/*	j.mp/webkit-tap-highlight-color 
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;} */
/* Mozilla dosen't style place holders by default 
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }*/
ol,
ul {
  margin-left: 0px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: -0.04em;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-top: 0px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0px;
}
p.small {
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h1 {
  font-size: 65px;
  line-height: 75px;
  margin-bottom: 25px;
}
h2 {
  font-size: 37px;
  line-height: 47px;
}
h3 {
  font-size: 29px;
  line-height: 39px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
h5 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 5px;
}
h6 {
  font-size: 11px;
  line-height: 21px;
  margin-bottom: 5px;
}
.aligncenter {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
#page {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.container {
  position: relative;
}
.navbar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  margin-bottom: 0px;
}
.navbar.navbar-static-top {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
}
.navbar a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar .brand {
  margin: 0px;
  padding: 0px;
  line-height: 70px;
  height: 70px;
  width: 140px;
}
.navbar .brand a {
  display: block;
  width: 140px;
  height: 70px;
  text-indent: -9999px;
}
.navbar .navbar-inner.container {
  padding: 0px;
  background-color: transparent;
  background-image: none;
  filter: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar nav {
  padding-top: 4px;
  float: right;
  left: auto;
}
.navbar nav .nav {
  min-height: 66px;
  line-height: 66px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
}
.navbar nav .nav  > li  > a {
  position: relative;
  padding: 0px 10px;
  line-height: 66px;
  height: 66px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}
.navbar nav .nav  > li  > a  > i {
  position: absolute;
  z-index: 1;
  left: 7px;
  top: 13px;
}
.navbar nav .nav  > li  > a span {
  padding: 15px 5px 0;
  display: block;
  line-height: 18px;
  height: 18px;
}
.navbar nav .nav  > li  > a small {
  padding: 0 5px;
  display: block;
  line-height: 18px;
  height: 18px;
  text-transform: none;
}
.navbar nav .nav  > li.dropdown > a.dropdown-toggle .caret {
  margin-top: 30px;
}
.navbar nav .nav  > li.dropdown > a.dropdown-toggle span .caret {
  position: relative;
  top: 5px;
  right: -5px;
  margin-top: 0;
  float: right;
}
.navbar nav .nav  > li ul.dropdown-menu {
  padding: 0px 0px;
  margin-top: -1px;
}
.navbar nav .nav  > li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
.navbar a.menu:after,
.navbar .dropdown-toggle:after {
  content: none;
}
.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
  right: 6px;
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .navbar .nav > li > .dropdown-menu.pull-right:after {
  right: 7px;
}
.navbar .dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar .dropdown-menu li a {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}
.navbar .btn.btn-navbar {
  background-color: transparent;
  background-image: none;
  filter: none;
  border: none;
  margin-top: 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.section {
  position: relative;
  background-color: transparent;
}
.section .section-inner {
  padding-top: 40px;
  padding-bottom: 30px;
}
.section.before-thumb-over-top .section-footer {
  margin-bottom: 60px;
}
.section.with-thumb-over-bottom .section-inner {
  padding-bottom: 4px;
}
.section.with-thumb-over-bottom .section-inner .entries {
  margin-bottom: 0px;
}
.section.after-thumb-over-bottom .section-inner {
  padding-top: 70px;
}
.section .background {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  height: 100%;
}
.section .background .image {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.section .background.old {
  z-index: -1;
}
#main .section:first-child .section-inner {
  padding-top: 90px;
}
.section.section-page-header #page-title {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 20px;
}
.section.section-page-header .section-inner {
  padding-bottom: 25px;
}
[class*=" section-headline"] .headline-inner,
[class*=" section-headline"] .headline-inner {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.headline {
  font-size: 13.5px;
  line-height: 24px;
}
.headline.headline-full p {
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
}
.headline.headline-full p.small {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.headline.headline-large-media [class*="span"],
.headline.headline-large-media [class^="span"] {
  margin-bottom: 0px;
}
.headline.headline-large-media .media .media-object-wrapper {
  margin-bottom: 0px;
}
.headline p.small {
  margin-bottom: 5px;
}
.cssanimations .section-headline-carousel .media-body {
  overflow: inherit;
}
.cssanimations .section-headline-carousel [class^="animation-slide-"],
.cssanimations .section-headline-carousel [class*=" animation-slide"] {
  position: relative;
}
.cssanimations .section-headline-carousel.from-right .headline.next [class^="animation-slide-"],
.cssanimations .section-headline-carousel.from-right .headline.next [class*=" animation-slide"] {
  visibility: hidden;
}
.cssanimations .section-headline-carousel.from-right .active .animation-slide-1 {
  visibility: visible;
  -webkit-animation: fromRight 0.6s ease-in 0s both;
  -moz-animation: fromRight 0.6s ease-in 0s both;
  -ms-animation: fromRight 0.6s ease-in 0s both;
  -o-animation: fromRight 0.6s ease-in 0s both;
  animation: fromRight 0.6s ease-in 0s both;
}
.cssanimations .section-headline-carousel.from-right .active .animation-slide-2 {
  visibility: visible;
  -webkit-animation: fromRight 0.5s ease-in 0.3s both;
  -moz-animation: fromRight 0.5s ease-in 0.3s both;
  -ms-animation: fromRight 0.5s ease-in 0.3s both;
  -o-animation: fromRight 0.5s ease-in 0.3s both;
  animation: fromRight 0.5s ease-in 0.3s both;
}
.cssanimations .section-headline-carousel.from-right .active .animation-slide-3 {
  visibility: visible;
  -webkit-animation: fromRight 0.4s ease-in 0.6s both;
  -moz-animation: fromRight 0.4s ease-in 0.6s both;
  -ms-animation: fromRight 0.4s ease-in 0.6s both;
  -o-animation: fromRight 0.4s ease-in 0.6s both;
  animation: fromRight 0.4s ease-in 0.6s both;
}
.cssanimations .section-headline-carousel.from-right .active .animation-slide-4 {
  visibility: visible;
  -webkit-animation: fromRight 0.3s ease-in 0.9s both;
  -moz-animation: fromRight 0.3s ease-in 0.9s both;
  -ms-animation: fromRight 0.3s ease-in 0.9s both;
  -o-animation: fromRight 0.3s ease-in 0.9s both;
  animation: fromRight 0.3s ease-in 0.9s both;
}
.cssanimations .section-headline-carousel.from-right .active .animation-slide-5 {
  visibility: visible;
  -webkit-animation: fromRight 0.2s ease-in 1.1s both;
  -moz-animation: fromRight 0.2s ease-in 1.1s both;
  -ms-animation: fromRight 0.2s ease-in 1.1s both;
  -o-animation: fromRight 0.2s ease-in 1.1s both;
  animation: fromRight 0.2s ease-in 1.1s both;
}
.cssanimations .section-headline-carousel.from-left .headline.prev [class^="animation-slide-"],
.cssanimations .section-headline-carousel.from-left .headline.prev [class*=" animation-slide"] {
  visibility: hidden;
}
.cssanimations .section-headline-carousel.from-left .active .animation-slide-1 {
  visibility: visible;
  -webkit-animation: fromLeft 0.2s ease-in 1.1s both;
  -moz-animation: fromLeft 0.2s ease-in 1.1s both;
  -ms-animation: fromLeft 0.2s ease-in 1.1s both;
  -o-animation: fromLeft 0.2s ease-in 1.1s both;
  animation: fromLeft 0.2s ease-in 1.1s both;
}
.cssanimations .section-headline-carousel.from-left .active .animation-slide-2 {
  visibility: visible;
  -webkit-animation: fromLeft 0.3s ease-in 0.9s both;
  -moz-animation: fromLeft 0.3s ease-in 0.9s both;
  -ms-animation: fromLeft 0.3s ease-in 0.9s both;
  -o-animation: fromLeft 0.3s ease-in 0.9s both;
  animation: fromLeft 0.3s ease-in 0.9s both;
}
.cssanimations .section-headline-carousel.from-left .active .animation-slide-3 {
  visibility: visible;
  -webkit-animation: fromLeft 0.4s ease-in 0.6s both;
  -moz-animation: fromLeft 0.4s ease-in 0.6s both;
  -ms-animation: fromLeft 0.4s ease-in 0.6s both;
  -o-animation: fromLeft 0.4s ease-in 0.6s both;
  animation: fromLeft 0.4s ease-in 0.6s both;
}
.cssanimations .section-headline-carousel.from-left .active .animation-slide-4 {
  visibility: visible;
  -webkit-animation: fromLeft 0.5s ease-in 0.3s both;
  -moz-animation: fromLeft 0.5s ease-in 0.3s both;
  -ms-animation: fromLeft 0.5s ease-in 0.3s both;
  -o-animation: fromLeft 0.5s ease-in 0.3s both;
  animation: fromLeft 0.5s ease-in 0.3s both;
}
.cssanimations .section-headline-carousel.from-left .active .animation-slide-5 {
  visibility: visible;
  -webkit-animation: fromLeft 0.6s ease-in 0s both;
  -moz-animation: fromLeft 0.6s ease-in 0s both;
  -ms-animation: fromLeft 0.6s ease-in 0s both;
  -o-animation: fromLeft 0.6s ease-in 0s both;
  animation: fromLeft 0.6s ease-in 0s both;
}
@-webkit-keyframes fromRight {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-moz-keyframes fromRight {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-o-keyframes fromRight {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-ms-keyframes fromRight {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeft {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeft {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-o-keyframes fromLeft {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeft {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes fromLeft {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
.section-header {
  position: relative;
  margin-bottom: 30px;
}
.section-header::after,
.section-header  > .after {
  content: '';
  display: block;
  border-bottom: 1px solid #000;
}
.section-header.no-border::after,
.section-header.no-border  > .after {
  display: none;
}
.section-header .section-title {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  line-height: 40px;
}
.section-header .section-title span {
  padding: 12px 0;
  position: relative;
  margin-bottom: -1px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-bottom: 1px solid #000;
  padding-left: 0px;
  padding-right: 20px;
}
aside .section-header .section-title {
  font-size: 20px;
}
.section-header h3.section-title {
  font-size: 25px;
  line-height: 40px;
}
.section-header.aligncenter .section-title span {
  padding-left: 20px;
  padding-right: 20px;
}
.section-header.alignright {
  text-align: right;
}
.section-header.alignright .section-title span {
  padding-left: 20px;
  padding-right: 0px;
}
.section-footer {
  margin-bottom: 20px;
}
.section.with-thumb-over-bottom .section-footer {
  margin-bottom: 0px;
}
.section-more {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 16px;
}
.sidebar .sidebar-inner {
  position: relative;
  margin-left: 20px;
}
#footer .section-title {
  font-size: 25px;
  line-height: 35px;
}
#footer aside .section-title {
  font-size: 18px;
}
#footer .section-more {
  font-size: 14px;
}
#footer .section-footerinfo {
  font-size: 12px;
  line-height: 21px;
}
#footer .section-footerinfo .section-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}
#footer .section-footerinfo p {
  margin-bottom: 5px;
}
/**
 * overide some prett photo styles
 */
.pp_pic_holder .pp_content_container .pp_left {
  padding-left: 5px;
}
.pp_pic_holder .pp_content_container .pp_right {
  padding-right: 5px;
}
.pp_pic_holder .pp_content_container .pp_details {
  margin-top: 7px;
}
.pp_pic_holder .pp_content_container .pp_details .pp_description {
  text-align: center;
  font-size: 12px;
  margin: 0px;
}
.pp_pic_holder .pp_content .pp_close,
.pp_pic_holder .pp_content .pp_expand {
  display: block;
  font-size: 12px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-image: none;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  z-index: 20001;
  position: absolute;
  text-indent: 0px;
  top: -14px;
}
.pp_pic_holder .pp_content .pp_close:hover,
.pp_pic_holder .pp_content .pp_expand:hover {
  background-image: none;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}
.pp_pic_holder .pp_content .pp_close {
  font-size: 15px;
  right: -10px;
}
.pp_pic_holder .pp_content .pp_expand {
  right: 16px;
}
.pp_pic_holder .pp_content .pp_topHoverContainer {
  display: none;
  position: absolute;
  z-index: 20000;
  right: 0px;
  top: 0px;
}
.pp_pic_holder .pp_content:hover .pp_topHoverContainer {
  display: block;
}
.pp_pic_holder .pp_content .pp_hoverContainer .pp_next,
.pp_pic_holder .pp_content .pp_hoverContainer .pp_previous {
  background-image: none;
  background-color: transparent;
  text-indent: 0px;
}
.pp_pic_holder .pp_content .pp_hoverContainer .pp_next span,
.pp_pic_holder .pp_content .pp_hoverContainer .pp_previous span {
  position: absolute;
  display: none;
  text-align: center;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  top: 50%;
}
.pp_pic_holder .pp_content .pp_hoverContainer .pp_next:hover span,
.pp_pic_holder .pp_content .pp_hoverContainer .pp_previous:hover span {
  display: block;
  background-image: none;
  text-decoration: none;
}
.pp_pic_holder .pp_content .pp_hoverContainer .pp_next:hover span:hover,
.pp_pic_holder .pp_content .pp_hoverContainer .pp_previous:hover span:hover {
  background-color: #fff;
  color: #000;
}
.pp_pic_holder .pp_content .pp_hoverContainer .pp_next span {
  right: -14px;
}
.pp_pic_holder .pp_content .pp_hoverContainer .pp_previous span {
  left: -14px;
}
.pp_top,
.pp_bottom,
.pp_top .pp_left,
.pp_bottom .pp_left,
.pp_top .pp_middle,
.pp_bottom .pp_middle,
.pp_top .pp_right,
.pp_bottom .pp_right {
  height: 5px;
}
a.pp_expand,
a.pp_contract {
  top: 5px;
  right: 10px;
}
/*********************************************************************************************
 *        Responsives styles
 ********************************/
@media (min-width: 1200px) {
  .section.with-thumb-over-bottom .section-inner {
    padding-bottom: 4px;
  }
  .section.after-thumb-over-bottom .section-inner {
    padding-top: 80px;
  }
  .section-inner {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (max-width: 979px) {
  .navbar {
    position: absolute;
    z-index: 1000;
    padding: 0 20px;
    margin: 0px;
  }
  .navbar nav {
    padding-top: 0px;
    float: none;
  }
  .navbar nav.nav-collapse .caret {
    display: none;
  }
  .navbar nav.nav-collapse .dropdown {
    *zoom: 1;
  }
  .navbar nav.nav-collapse .dropdown:before,
  .navbar nav.nav-collapse .dropdown:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .navbar nav.nav-collapse .dropdown:after {
    clear: both;
  }
  .navbar nav.nav-collapse .nav > li > a,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle {
    padding: 0 15px;
    line-height: 38px;
    height: 38px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
  }
  .navbar nav.nav-collapse .nav > li > a span,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle span,
  .navbar nav.nav-collapse .nav > li > a small,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle small {
    line-height: auto;
    display: inline;
  }
  .navbar nav.nav-collapse .nav > li > a span,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle span {
    padding-right: 0px;
  }
  .navbar nav.nav-collapse .nav > li > a span:after,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle span:after {
    content: ' - ';
  }
  .navbar nav.nav-collapse .nav > li > a span i,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle span i {
    position: relative;
    left: -5px;
  }
  .navbar nav.nav-collapse .nav > li > a small,
  .navbar nav.nav-collapse .nav > li.dropdown > a.dropdown-toggle small {
    padding: 0px;
  }
  .navbar nav.nav-collapse .dropdown-menu {
    display: block;
    position: relative;
    height: auto;
    position: relative;
    *zoom: 1;
  }
  .navbar nav.nav-collapse .dropdown-menu:before,
  .navbar nav.nav-collapse .dropdown-menu:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .navbar nav.nav-collapse .dropdown-menu:after {
    clear: both;
  }
  .navbar nav.nav-collapse .dropdown-menu li {
    width: 32%;
    height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-bottom: 3px;
  }
  .navbar nav.nav-collapse .dropdown-menu li a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
  }
  .navbar nav.nav-collapse .dropdown-menu:before,
  .navbar nav.nav-collapse .dropdown-menu:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .alignleft-tablet {
    text-align: left;
  }
  .aligncenter-tablet {
    text-align: center;
  }
  .alignright-tablet {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .alignleft-phone {
    text-align: left;
  }
  .aligncenter-phone {
    text-align: center;
  }
  .alignright-phone {
    text-align: right;
  }
  body {
    padding: 0px;
  }
  .section .container {
    margin: 0 20px;
  }
  .navbar nav.nav-collapse .dropdown-menu li {
    width: 48%;
  }
  .headline.headline-large-media [class*="span"],
  .headline.headline-large-media [class^="span"] {
    margin-bottom: 0px;
  }
  .headline.headline-large-media .media .media-object-wrapper {
    margin-bottom: 20px;
  }
  .sidebar .sidebar-inner {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .navbar nav.nav-collapse .dropdown-menu li {
    width: 96%;
  }
}
/*********************************************************************************************
 *        Helper classes
 ********************************/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/*********************************************************************************************
 *        Print styles
 ********************************/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
  	 * Don't show links for images, or javascript/internal links
  	 */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
