/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/typography";

/* Helpers */
@import "helpers/sass-flexbox";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/lists";
@import "modules/code";
@import "modules/spacing";
@import "modules/media-queries";
@import "modules/panels";

/* Layout */
@import "layout/header";
@import "layout/content";

// Global Styles

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: $pink;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
