.case-study {
  opacity: 0;
  position: absolute;
  top: 100vh;
  z-index: -1;
  height: 0;
  overflow: hidden;

  transition: all 300ms ease;

  &.active {
    height: 100%;
    left: 0;
    opacity: 1;
    top: 0;
    bottom: 0;
    z-index: 100;
    overflow: visible;
  }

  .main-content {
    .close-icon {
      background: url('../images/case-studies/close-icon.png');
      height: 32px;
      margin: 20px;
      position: absolute;
      right: 0;
      width: 32px;
      z-index: 1;
    }

    .panel {
      .panel-content {
        h1 {
          margin-bottom: 15px;
        }

        h4 {
          font-size: 20px;
        }
      }
    }
  }

  .underline {
    border: 1px solid $white;
    margin: 0 0 10px -2px;
    width: 60%;
  }

  .panel-flightclub {
    background: url('../images/case-studies/flightclub/flight-club-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
    height: $case-study-primary-panel-height;
  }

  .panel-inbu {
    background: green;
    background-position: 0;
    background-size: cover;
    height: $case-study-primary-panel-height;
  }

  .panel-minted {
    background: url('../images/case-studies/minted/minted-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
    height: $case-study-primary-panel-height;
  }

  .panel-secondary {
    background: $lightgreybackground;
    height: 100%;
    overflow-y: hidden;
    padding-top: 70px;

    h3 {
      color: $black;
      letter-spacing: 3px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    .case-study-section {
      margin-bottom: 40px;

      img {
        height: 100%;
        width: 100%;
      }

      .right {
        float: right;
      }

      &.button-section {
        text-align: center;

        .button-flightclub {
          border-color: $green;
          color: $green;
        }

        .button-inbu {
          border-color: $green;
          color: $green;
        }

        .button-minted {
          border-color: $pink;
          color: $pink;
        }
      }
    }
  }
}
