.container {
  padding-left: 0;

  &.hidden {
    display: none;
  }

  @media (#{$bp-larger-than-tablet}) {
    padding-left: $left-rail-width;
  }

  .row {
    &.copyright {
      margin: 0;
      padding: 20px;

      p {
        margin: 0;
        color: $medium-gray;
      }

      @media (#{$bp-larger-than-tablet}) {
        display: none;
      }
    }
  }

  .flex-row {
    @include display-flex();
    @include justify-content(space-around);
    @include flex-wrap(wrap);

    .center-content {
      @include flex-grow(1);

      margin-bottom: 25px;
      min-width: 25%;
    }
  }

  .close-icon {
    @include absolute($right: 0);
    @include size($width: 16px, $height: 16px);
    margin: 10px;
    background: url('../images/case-studies/close-icon.png');
    background-size: cover;
    z-index: 1;
    cursor: pointer;

    @media (#{$bp-larger-than-mobile}) {
      margin: 20px;
    }

    a {
      @include size($height: 100%);
      display: block;
    }

    &--black {
      background: url('../images/case-studies/close-icon-black.png');
      background-size: cover;
    }
  }

  .illustration {
    position: relative;
  }

  .illustration-container {
    @include absolute($bottom: 0px);

    text-align: center;

    @media (#{$small-phone}) {
      @include opacity(.1);
    }

    @media (max-height: 414px) {
      @include opacity(.1);
    }

    .large {
      display: none;
      max-width: 100%;
    }

    .small {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 500px) {
    .illustration-container {
      @include opacity(1);

      .large {
        display: inline-block;
      }

      .small {
        display: none;
      }
    }
  }
}

.home-section {
  margin-top: $header-height;
  overflow-x: hidden;

  @media (#{$bp-larger-than-tablet}) {
    margin-top: 0;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  #introduction {
    background-color: $blue;
  }

  #flightclub {
    background: url('../images/home-flightclub-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
  }

  #airdye {
    background: url('../images/home-airdye-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
  }

  #minted {
    background: url('../images/home-minted-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
  }
}

.case-study-section {
  @include absolute($top: 100vh);
  height: 0;
  visibility: hidden;
  overflow-y: hidden;

  &.active {
    top: $header-height;
    height: auto;
    visibility: visible;
    overflow-y: visible;
    z-index: 10;

    @media (#{$bp-larger-than-tablet}) {
      top: 0;
    }
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 2.8px;
    font-family: $font-regular;
    color: $black;
    text-transform: uppercase;

    @media (#{$bp-larger-than-tablet}) {
      font-size: 17px;
    }
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  .row {
    margin-bottom: 30px;

    &.no-gutter {
      margin-left: 0;
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin: 20px 0;

    @media (#{$bp-larger-than-mobile}) {
      margin: initial;
    }
  }

  .stretch {
    @include size($width: 620px, $height: 100%);
    max-width: 100%;

    @media (#{$bp-larger-than-mobile}) {
      width: 100%;
    }
  }

  &.flightclub {
    .panel--primary {
      background: url('../images/case-studies/flightclub/flight-club-background.jpg') no-repeat;
      background-position: 0;
      background-size: cover;
    }

    .modernize,
    .bridge {
      @include size($width: 220px, $height: 100%);
      max-width: 100%;
    }

    .sneaker {
      @include size($width: 204px, $height: 100%);
      max-width: 100%;
    }

    button {
      color: $black;
      border-color: $black;
    }
  }

  &.airdye {
    .panel--primary {
      background: url('../images/case-studies/airdye/air-dye-background.png') no-repeat;
      background-position: 0;
      background-size: cover;
    }

    .cloud {
      @include size($width: 219px, $height: 100%);
      max-width: 100%;
    }

    .move,
    .office {
      @include size($width: 218px, $height: 100%);
      max-width: 100%;
    }

    button {
      color: $yellow;
      border-color: $yellow;
    }
  }

  &.minted {
    .panel--primary {
      background: url('../images/case-studies/minted/minted-background.jpg') no-repeat;
      background-position: 0;
      background-size: cover;
    }

    .traffic {
      @include size($width: 219px, $height: 100%);
      max-width: 100%;
    }

    .devices {
      @include size($width: 212px, $height: 100%);
      max-width: 100%;
    }

    button {
      color: $pink;
      border-color: $pink;
    }
  }

  .panel--secondary {
    padding-bottom: 30px;
  }
}

.about-section {
  background-color: $greybackground;
  margin-top: $header-height;
  overflow-x: hidden;

  @media (#{$bp-larger-than-tablet}) {
    margin-top: 0;
  }

  .row {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &.header-row {
      margin-bottom: 40px;

      h2 {
        font: 24px $font-semibold;
        color: $black;
        text-transform: uppercase;
      }
    }
  }

  img {
    margin: 20px 0;

    @media (#{$bp-larger-than-mobile}) {
      margin: initial;
    }
  }

  .panel--primary {
    background-color: $pink;
  }

  .panel--secondary {
    h3 {
      font-size: 17px;
      letter-spacing: 2px;
    }

    p {
      font-size: 13px;
    }
  }

  .machine {
    @include size($width: 220px, $height: 100%);
    max-width: 100%;
  }

  .expertise {
    background-color: $white;

    @media (#{$bp-larger-than-tablet}) {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .25);
      border-radius: $global-radius;
      margin: 20px;
    }

    .briefcase,
    .pricetag,
    .mobile,
    .creditcards {
      @include relative();
      @include size($width: 60px, $height: 100%);

      max-width: 100%;

      @media (#{$bp-larger-than-mobile}) {
        left: 15px;
      }
    }
  }

  .partners-grid {
    @include display-flex();
    @include flex-wrap(wrap);
    @include justify-content(center);

    .image-container {
      @include relative();

      margin: 10px;

      @media (#{$bp-larger-than-mobile}) {
        margin: 15px;
      }

      img {
        @include size($width: 140px, $height: 140px);
        @include transition(box-shadow .2s, opacity .3s);

        border-radius: $global-radius;
        margin: 0;
      }

      .partner-logo--color {
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
      }

      .partner-logo--bw {
        @include absolute($top: 0);
        @include opacity(0);

        @media (#{$bp-larger-than-tablet}) {
          @include opacity(1);
        }
      }

      &:hover {
        .partner-logo--bw {
          @include opacity(0);
        }

        .partner-logo--color {
          box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .1);
        }
      }
    }
  }
}

.team-section {
  background: $greybackground;
  margin-top: $header-height;
  overflow-x: hidden;

  @media (#{$bp-larger-than-tablet}) {
    margin-top: 0;
  }

  .row {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &.header-row {
      margin-bottom: 40px;

      h2 {
        font: 24px $font-semibold;
        color: $black;
        text-transform: uppercase;
      }
    }
  }

  h4 {
    font: $font-semibold;
    text-transform: capitalize;

    a {
      text-transform: lowercase;
      font: 12px $font-regular;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h5 {
    color: $black;
    text-transform: uppercase;
  }

  .panel--primary {
    background-color: $green;
  }

  .principal {
    @include size($width: 120px, $height: 100%);

    border-radius: $global-radius;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .2);
    max-width: 100%;
    margin: 0 20px;
  }

  .team {
    background-color: $white;

    @media (#{$bp-larger-than-tablet}) {
      border-radius: $global-radius;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .25);
      margin: 20px;
    }
  }

  .robot {
    @include size($width: 120px, $height: 100%);

    border-radius: $global-radius;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .2);
    max-width: 100%;
    margin: 0 10px;
  }


  ul {
    list-style: disc;
    list-style-position: inside;
  }

  a {
    text-transform: lowercase;
    font: 12px $font-regular;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contact-section {
  background: $white;
  margin-top: $header-height;
  overflow-x: hidden;

  @media (#{$bp-larger-than-tablet}) {
    margin-top: 0;
  }

  h1, h5, p {
    color: $black;
  }

  h5, p {
    padding-left: $gutter-mobile;

    @media (#{$bp-larger-than-mobile}) {
      padding-left: 0;
    }
  }

  .panel--primary {
    background-color: darken($white, 2%);
    background-size: 60px;
    height: 97vh;

    @media (#{$bp-larger-than-tablet}) {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .25);
      border-radius: $global-radius;
      margin: 20px;
    }

    .panel__heading {
      height: auto;
    }

    .content-wrapper {
      margin-top: 35px;

      .columns:last-child {
        margin-top: 20px;

        @media (#{$bp-larger-than-mobile}) {
          margin-top: 0;
        }
      }
    }
  }

  .row {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
  }

  .email,
  .phone,
  .address {
    margin-top: 0;
    margin-bottom: 0;

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
