.main-content {
  margin-top: $header-height;

  &.hidden {
    display: none;
  }

  .carousel {
    margin-top: -96px;
    position: fixed;
    right: 4%;
    top: 50%;
    z-index: 1;

    li {
      background-color: $white;
      border: 1px solid $white;
      border-radius: 50%;
      cursor: pointer;
      height: 30px;
      margin-bottom: 18px;
      opacity: .4;
      position: relative;
      transition: opacity 200ms;
      width: 30px;

      .inner-circle {
        opacity: 0;
        background: $white;
        border-radius: 50%;
        height: 18px;
        left: 50%;
        margin: -9px 0 0 -9px;
        position: absolute;
        top: 50%;
        width: 18px;
        transition: opacity 200ms;
      }

      &.active {
        background-color: transparent;
        opacity: 1;

        .inner-circle {
          opacity: 1;
        }
      }
    }
  }

  .panel {
    height: $panel-full-height;
    position: relative;
    width: 100%;

    .panel__heading {

      h4 {
        a {
          color: $white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .panel-primary {
    background-color: $blue;
    background-image: url('../images/background-pattern.png');
    background-size: 120px;
  }

  .panel-about {
    background-color: $pink;
    background-image: url('../images/background-pattern.png');
    background-size: 120px;
  }

  .illustration-container {
    bottom: 60px;
    position: absolute;
    width: 100%;

    img {
      width: 100%;
    }

    .illustration--desktop {
      display: none;
    }
  }

  .panel-finance {
    background: url('../images/home-flightclub-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
  }

  .panel-fashion {
    background: url('../images/home-airdye-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
  }

  .panel-stationary {
    background: url('../images/home-minted-background.jpg') no-repeat;
    background-position: 0;
    background-size: cover;
  }

  @media (#{$bp-larger-than-tablet}) {
    margin-top: 0;
    // padding-left: $left-rail-width;

    .carousel {
      margin-top: -96px;
      right: 2%;
      top: 45%;

      li {
        height: 30px;
        margin-bottom: 18px;
        width: 30px;
      }
    }

    .illustration-container {
      padding: 0 $gutter;

      .illustration--desktop {
        display: block;
      }

      .illustration--mobile {
        display: none;
      }
    }
  }

  // iPhone Landscape
  @media screen and (max-width: 960px) and (orientation: landscape) {
    .panel {
      .panel__heading {
        z-index: 1;
      }
    }

    .illustration-container {
      opacity: .3;
    }
  }
}


// NEW -------------------------------------------------------------------------
.container {
  padding-left: 0;

  // Larger than tablet
  @media (#{$bp-larger-than-tablet}) {
    padding-left: $left-rail-width;
  }
}

.about-section {
  .panel--primary {
    background-color: $pink;
  }

  .partner-logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .7;
    transition: all 200ms;

    &:hover {
      -webkit-filter: none;
      filter: none;
      opacity: 1;
    }
  }
}

.center-content {
  text-align: center;
}
