.header {
  background-color: $white;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 100;

  .nav-header {
    min-height: $header-height;
    padding-left: 20px;

    .nav-control {
      bottom: 0;
      padding: 0 20px;
      position: absolute;
      right: 0;
      top: -3px;
    }

    .nav-icon {
      cursor: pointer;
      padding: 10px 35px 16px 0;

      span,
      span:before,
      span:after {
        background: $medium-gray;
        border-radius: 1px;
        content: '';
        cursor: pointer;
        display: block;
        height: 3px;
        opacity: .9;
        position: absolute;
        transition: all 500ms ease-in-out;
        width: 35px;
      }

      span:before {
        top: -10px;
      }

      span:after {
        bottom: -10px;
      }

      &.active {
        span {
          background-color: transparent;
        }

        span:before {
          top: 0;
          transform: rotate(45deg);
        }

        span:after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }

    .logo {
      background: url('../images/GM-logo-small.png') no-repeat;
      background-size: contain;
      display: inline-block;
      height: 14px;
      margin-top: 20px;
      width: 240px;
    }
  }

  .nav-collapse {
    display: none;

    .nav-list {
      background: $white;
      box-shadow: 0 0 3px $medium-gray inset;
      margin-bottom: 0;
      opacity: .98;
      text-transform: uppercase;

      li {
        border-bottom: 1px solid $lightgreyborder;
        height: 76px;
        margin-bottom: 0;

        a {
          display: inline-block;
          height: 100%;
          padding: 24px 20px;
          width: 100%;
        }
      }
    }
  }

  .copyright {
    display: none;
  }

  @media (#{$bp-larger-than-tablet}) {
    height: 100vh;
    padding: $gutter;
    width: $left-rail-width;

    .nav-header {
      margin-bottom: 20px;
      padding: 0;
      text-align: center;

      .nav-control {
        display: none;
      }

      .logo {
        background: url('../images/GM-logo.png') no-repeat;
        background-size: contain;
        height: 160px;
        margin: auto;
        width: 160px;
      }
    }

    .nav-collapse {
      display: block;

      .nav-list {
        box-shadow: none;
        text-align: center;

        li {
          border: 0;
          height: inherit;

          a {
            padding: 15px;
          }
        }
      }
    }

    .copyright {
      bottom: 0;
      color: $medium-gray;
      display: block;
      position: absolute;
    }
  }

  // iPhone 4ish
  @media screen and (max-width: 320px) {
    .nav-header {
      padding-left: 10px;

      .nav-control {
        padding: 0 10px;
      }
    }
  }
}
