.header-section {
  @include fixed($top: 0, $right: 0, $left: 0);
  @include size($height: $header-height);
  padding: 0 $gutter-mobile;
  z-index: 100;
  background-color: $white;

  @media (#{$small-phone}) {
    padding: 0 $gutter-small-phone;
  }

  @media (#{$bp-larger-than-tablet}) {
    @include size($width: $left-rail-width, $height: 100vh);
    padding: $gutter-desktop;
  }

  .navbar-brand {
    @include absolute($top: 50%);
    @include size($width: 240px, $height: 14px);
    margin-top: -7px;
    background: url('../images/GM-logo-small.png') no-repeat;
    background-size: contain;

    @media (#{$bp-larger-than-tablet}) {
      @include absolute($top: $gutter-desktop, $right: 0, $left: 0);
      @include size($width: 111px, $height: 110px);
      background: url('../images/GM-logo.png') no-repeat;
      background-size: contain;
      margin: auto;
    }
  }

  .hamburger {
    @include absolute($top: 0, $right: 0);
    @include size($width: 70px, $height: $header-height);
    float: right;
    padding: 25px 20px 0;
    cursor: pointer;

    @media (#{$bp-larger-than-tablet}) {
      display: none;
    }

    span,
    span:before,
    span:after {
      background: $medium-gray;
      border-radius: $global-radius;
      content: '';
      cursor: pointer;
      display: block;
      height: 3px;
      position: absolute;
      @include transition(all 500ms ease-in-out);
      width: 35px;
    }

    span:before {
      top: -10px;
    }

    span:after {
      bottom: -10px;
    }

    &.active {
      span {
        background-color: transparent;
      }

      span:before {
        top: 0;
        transform: rotate(45deg);
      }

      span:after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .nav-collapse {
    @include fixed($top: $header-height, $right: 0, $left: 0);
    display: none;
    background: $white;
    box-shadow: 0 0 2px $medium-gray inset;
    z-index: 2;

    li {
      border-bottom: 1px solid $lightgreyborder;
      height: 60px;
      margin: 0;
      width: 100%;
      display: table;

      a {
        display: table-cell;
        vertical-align: middle;
        padding-left: $gutter-mobile;
      }
    }

    @media (#{$bp-larger-than-tablet}) {
      display: block;
      top: 180px;
      width: $left-rail-width;
      box-shadow: none;

      li {
        border: none;
        text-align: center;
        height: 35px;

        a {
          padding: 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .copyright {
    display: none;

    @media (#{$bp-larger-than-tablet}) {
      @include absolute($bottom: 0);
      display: block;
      color: $medium-gray;
    }
  }

  .section-nav {
    @include fixed($top: 50%, $right: $gutter-mobile);
    margin: -84px 0 0;
    z-index: 1;

    @media (#{$small-phone}) {
      right: $gutter-small-phone;
    }

    @media (#{$bp-larger-than-tablet}) {
      right: $gutter-desktop;
    }

    &.hidden {
      display: none;
    }

    li {
      @include relative();
      @include size($width: 24px, $height: 24px);
      margin-bottom: 18px;
      background-color: $white;
      border: 2px solid $white;
      border-radius: $global-radius;
      @include opacity(.4);
      cursor: pointer;

      .inner {
        @include absolute($top: 50%, $left: 50%);
        @include size($width: 10px, $height: 10px);
        margin: -5px 0 0 -5px;
        background: $white;
        border-radius: $global-radius;
        @include opacity(0);
        @include transition(opacity .1s ease);
      }

      &.active {
        background-color: transparent;
        @include opacity(1);

        .inner {
          @include opacity(1);
        }
      }
    }
  }
}
