.header-section {
  position: fixed;
  height: $header-height;
  width: 100%;
  z-index: 100;
  background-color: $white;

  .navbar-brand {
    position: absolute;
    top: 50%;
    left: $gutter-mobile;
    margin-top: -7px;
    height: 14px;
    width: 240px;
    background: url('../images/GM-logo-small.png') no-repeat;
    background-size: contain;
  }

  .hamburger {
    position: absolute;
    top: 50%;
    right: $gutter-mobile;
    margin-top: -12px;
    padding: 10px 35px 16px 0;
    cursor: pointer;

    span,
    span:before,
    span:after {
      background: $medium-gray;
      border-radius: 1px;
      content: '';
      cursor: pointer;
      display: block;
      height: 3px;
      opacity: .9;
      position: absolute;
      transition: all 500ms ease-in-out;
      width: 35px;
    }

    span:before {
      top: -10px;
    }

    span:after {
      bottom: -10px;
    }

    &.active {
      span {
        background-color: transparent;
      }

      span:before {
        top: 0;
        transform: rotate(45deg);
      }

      span:after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .nav-collapse {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    background: $white;
    box-shadow: 0 0 2px $medium-gray inset;
    opacity: .98;

    li {
      border-bottom: 1px solid $lightgreyborder;
      height: 76px;
      margin-bottom: 0;

      a {
        display: inline-block;
        height: 100%;
        padding: 24px 20px;
        width: 100%;
      }
    }
  }

  .copyright {
    display: none;
  }

  // Small Phone
  @media (#{$small-phone}) {
    .navbar-brand {
      left: $gutter-small-phone;
    }

    .hamburger {
      right: $gutter-small-phone;
    }
  }

  // Desktop
  @media (#{$bp-larger-than-tablet}) {
    height: 100vh;
    width: $left-rail-width;
    padding: $gutter-desktop;

    .navbar-brand {
      top: $gutter-desktop;
      left: 0;
      right: 0;
      background: url('../images/GM-logo.png') no-repeat;
      background-size: contain;
      height: 160px;
      margin: auto;
      width: 160px;
    }

    .hamburger {
      display: none;
    }

    .nav-collapse {
      display: block;
      top: 230px;
      width: $left-rail-width;
      box-shadow: none;

      li {
        height: 100%;
        border: none;
        text-align: center;

        a {
          width: initial;
          padding: 0;
          margin: 10px 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .copyright {
      bottom: 0;
      color: $medium-gray;
      display: block;
      position: absolute;
    }
  }
}
