/**
 * some helpers located on libs.less
 */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*********************************************************************************************
 *			Base
 ********************************/
html,
button,
input,
select,
textarea,
body {
  color: #666666;
}
a {
  color: #660000;
  text-decoration: none;
}
a:hover {
  color: #e3701a;
  text-decoration: underline;
}
.navbar {
  border-bottom-color: #8f0000;
  background-color: #4d0000;
  background-color: rgba(77, 0, 0, 0.6);
}
body.scrolled .navbar {
  background-color: #4d0000;
}
.navbar .nav  > li  > a {
  color: #ffffff;
}
.navbar .nav  > li  > a:hover {
  color: #e3701a;
  border-bottom-color: #e3701a;
}
.navbar .nav  > li  > a small {
  color: #ffffff;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.navbar .nav  > li.active  > a,
.navbar .nav  > li.active  > a:hover,
.navbar .nav  > li.active  > a:focus {
  color: #e3701a;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom-color: #e3701a;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #e3701a;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #4d0000;
}
.navbar .dropdown-menu  > li > a {
  color: #ffffff;
  border-top: 1px solid #570000;
}
.navbar .dropdown-menu  > li:first-child > a {
  border-top: none;
}
.navbar .dropdown-menu  > li > a:hover,
.navbar .dropdown-menu  > li > a:focus,
.navbar .dropdown-menu:hover > a,
.navbar .dropdown-menu:focus > a {
  background-color: #700000;
  color: #ffffff;
  background-image: none;
  filter: none;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  background-color: #700000;
  color: #e3701a;
  background-image: none;
  filter: none;
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom-color: #4d0000;
}
.navbar .btn.btn-navbar.collapsed .icon-bar {
  background-color: #ffffff;
}
.navbar .btn.btn-navbar .icon-bar {
  background-color: #e3701a;
}
.navbar .btn.btn-navbar:hover .icon-bar {
  background-color: #e3701a;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #e3701a;
  border-bottom-color: #e3701a;
}
#page-title {
  color: #e3701a;
}
/*********************************************************************************************
 *			Common Elements
 *				1. overlay
 *				2. portfolio-thumbnails
 ********************************/
.overlay {
  background-color: transparent;
}
a .overlay {
  color: transparent;
}
.section:hover a .overlay {
  color: rgba(255, 255, 255, 0.5);
}
.section:hover .entry a .overlay {
  color: transparent;
}
.section:hover .entry:hover a .overlay,
.entry:hover a .overlay {
  color: rgba(255, 255, 255, 0.5);
}
a:hover .overlay,
.section:hover a:hover .overlay,
.section:hover .entry:hover a:hover .overlay,
.entry:hover a:hover .overlay {
  background-color: #660000;
  background-color: rgba(102, 0, 0, 0.9);
  color: #e3701a;
}
.portfolio-thumbnails .portfolio-detail .portfolio-icon {
  color: rgba(255, 255, 255, 0.4);
}
.portfolio-thumbnails .portfolio-detail .portfolio-title {
  color: #e3701a;
}
.portfolio-thumbnails .portfolio-detail .portfolio-cat {
  color: #e6e6e6;
}
.portfolio-thumbnails a:hover .portfolio-detail .portfolio-icon,
li .portfolio-thumbnails:hover .portfolio-detail .portfolio-icon {
  color: #e3701a;
}
/*********************************************************************************************
 *			Section Elements
 *				1. background
 *				2. heading 
 *				3. section-header
 *				4. sectopn-more
 *				5. breadcrumbs
 *				6. highlight
 *				7. thumb
 *				8. nav
 *				9. thumbnails-bordered
 *				10. callout
 *				11. blog-entries
 *				12. widget
 *				13. separator
 *				14. icon element
 *				15. form
 *				16. pagination
 *				17. table
 *				18. accordion
 *				19. list
 *				20. carousel
 *				17. footer
 ********************************/
blockquote {
  color: #660000;
}
select,
textarea,
input {
  color: #660000;
}
.background {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #660000;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: normal;
  color: #e3701a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #660000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #e3701a;
}
.section-header::after,
.section-header  > .after {
  border-bottom-color: #660000;
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.section-header .section-title span {
  border-bottom-color: #660000;
}
#footer .section-header .section-title span {
  border-bottom-color: #e6e6e6;
}
.section-more {
  color: #666666;
}
.section:hover .section-more {
  color: #e3701a;
}
.breadcrumb.page-breadcrumb > li {
  color: #660000;
}
.breadcrumb.page-breadcrumb > li  > a {
  color: #660000;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.breadcrumb.page-breadcrumb > li  > a:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration: none;
}
.breadcrumb.page-breadcrumb > li  > .divider {
  color: #660000;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.breadcrumb.page-breadcrumb > li.active {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.highlight {
  background-color: #660000;
  color: #ffffff;
}
.nav.nav-pills  > li  > a:hover {
  color: #ffffff;
  background-color: #660000;
}
.nav.nav-pills  > li.active > a,
.nav.nav-pills  > li.active > a:hover {
  color: #e3701a;
  background-color: #660000;
}
.nav.nav-list {
  background-color: #f7f7f7;
  border: 1px solid #f2f2f2;
}
.nav.nav-list a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-shadow: none;
}
.nav.nav-list a:hover {
  background-color: #660000;
  color: #ffffff;
}
.nav.nav-list  > .active > a,
.nav.nav-list  > .active > a:hover,
.nav.nav-list  > .active > a:focus {
  background-color: #660000;
  color: #e3701a;
}
.nav.nav-pills .dropdown-menu > li > a:hover,
.nav.nav-pills .dropdown-menu > li > a:focus,
.nav.nav-pills .dropdown-submenu:hover > a,
.nav.nav-pills .dropdown-submenu:focus > a {
  background-color: #660000;
  color: #ffffff;
}
.nav.nav-pills .dropdown-menu > .active  > a,
.nav.nav-pills .dropdown-menu > .active  > a:hover,
.nav.nav-pills .dropdown-menu > .active  > a:focus {
  background-color: #660000;
  color: #e3701a;
}
.thumb {
  color: #660000;
}
.thumb.thumb-framed,
.thumb.thumb-circled {
  background-color: #660000;
  background-color: rgba(102, 0, 0, 0.5);
  color: #ffffff;
}
.thumb.thumb-framed::after,
.thumb.thumb-circled::after,
.thumb.thumb-framed  > .after,
.thumb.thumb-circled  > .after {
  border-color: #fff;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.thumb.section-more {
  color: #e3701a;
}
.thumb.section-more.thumb-framed,
.thumb.section-more.thumb-circled {
  color: #660000;
  background-color: #ffffff;
}
.thumb.section-more.thumb-framed:hover,
.thumb.section-more.thumb-circled:hover {
  color: #ffffff;
  background-color: #e3701a;
}
.thumbnails-bordered li::before,
.thumbnails-bordered li  > .before {
  background-color: #660000;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.thumbnails-bordered li::after,
.thumbnails-bordered li  > .after {
  background-color: #660000;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.callout.section:hover .background {
  background-color: #660000;
}
.callout.section:hover .section-inner {
  color: #ffffff;
}
.callout.section:hover h1,
.callout.section:hover h2,
.callout.section:hover h3,
.callout.section:hover h4,
.callout.section:hover h5,
.callout.section:hover h6 {
  color: #ffffff;
}
.blog-entries .entry .entry-meta span {
  color: rgba(102, 102, 102, 0.8);
}
.blog-entries .entry .entry-meta span.entry-author {
  color: #666666;
}
.blog-entries .entry .entry-meta span.entry-author a {
  color: #666666;
}
.blog-entries .entry .entry-meta span.entry-author a:hover {
  color: #e3701a;
}
.blog-entries .entry .entry-meta a,
.blog-entries .entry a.more {
  color: rgba(102, 102, 102, 0.8);
}
.blog-entries .entry .entry-meta a:hover,
.blog-entries .entry a.more:hover {
  color: #e3701a;
}
.blog-entries .entry-header .small {
  color: rgba(102, 102, 102, 0.8);
}
.blog-entries .entry-header .small a {
  color: rgba(102, 102, 102, 0.8);
}
.blog-entries .entry-header .small a:hover {
  color: #e3701a;
}
.blog-entries .entry-header .comments {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.blog-entries .type-quote .entry-featured,
.blog-entries .type-video .entry-featured {
  color: #660000;
  /* Fallback for web browsers that doesn't support RGBa */

  background-color: #660000;
  /* RGBa with 0.6 opacity */

  background-color: rgba(102, 0, 0, 0.2);
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#33660000', endColorstr='#33660000');
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33660000, endColorstr=#33660000)";
}
.blog-entries-primary .entry {
  border-color: rgba(102, 102, 102, 0.15);
}
.widget_calendar table td {
  border-color: rgba(102, 102, 102, 0.1);
}
.widget_calendar table #today {
  background-color: #666666;
  background-color: rgba(102, 102, 102, 0.1);
}
.separator {
  border-top-color: #660000;
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.content-separator {
  border-top-color: #660000;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
a > .icon-frame,
a > .icon-circled {
  border-color: #666666;
}
a > .icon-frame:hover,
a > .icon-circled:hover {
  color: #ffffff;
  background-color: #e3701a;
  border-color: #e3701a;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-color: rgba(102, 0, 0, 0.65);
  background-color: transparent;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #660000;
}
.btn-primary {
  color: #660000;
  background-color: transparent;
  background-image: none;
  filter: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: rgba(102, 0, 0, 0.65);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #e3701a;
  border-color: #e3701a;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #e3701a;
}
.pagination ul li a {
  background-color: #f7f7f7;
  color: #660000;
  border-color: #f0f0f0;
}
.pagination ul li:hover a,
.pagination ul li:hover a:hover {
  background-color: #660000;
  color: #ffffff;
}
.pagination ul li.active a,
.pagination ul li.active a:hover {
  background-color: #660000;
  color: #e3701a;
}
.table td th {
  color: #660000;
}
.table tbody tr td {
  border-color: #f2f2f2;
}
.table tbody tr:first-child td {
  border-color: rgba(102, 0, 0, 0.1);
}
.table.table-striped tbody > tr:nth-child(odd)  > td,
.table.table-striped tbody > tr:nth-child(odd)  > th {
  background-color: #fafafa;
}
.nav-tabs {
  border-color: rgba(102, 0, 0, 0.2);
}
.nav-tabs  > .active > a {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.nav-tabs  > .active > a,
.nav-tabs  > .active > a:hover,
.nav-tabs  > .active > a:focus {
  color: #660000;
  border-color: rgba(102, 0, 0, 0.2);
  border-bottom-color: transparent;
  background-color: #ffffff;
}
.nav-tabs  > li > a:hover,
.nav-tabs  > li > a:focus {
  background-color: #660000;
  background-color: rgba(102, 0, 0, 0.1);
  border-color: rgba(102, 0, 0, 0.2);
  border-bottom-color: transparent;
  color: #666666;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.nav-tabs .dropdown-menu > li > a:hover,
.nav-tabs .dropdown-menu > li > a:focus,
.nav-tabs .dropdown-submenu:hover > a,
.nav-tabs .dropdown-submenu:focus > a {
  filter: none;
  background-image: none;
  background-color: #660000;
  color: #ffffff;
}
.nav-tabs .dropdown-menu > .active > a,
.nav-tabs .dropdown-menu > .active > a:hover,
.nav-tabs .dropdown-menu > .active > a:focus {
  filter: none;
  background-image: none;
  background-color: #660000;
  color: #e3701a;
}
.accordion .accordion-group .accordion-heading {
  border-color: rgba(102, 0, 0, 0.1);
}
.accordion .accordion-group .accordion-heading .accordion-toggle {
  color: #660000;
}
.ul-texts.ul-circle li i:first-child,
.ul-icons.ul-circle li i:first-child {
  background-color: #660000;
  color: #ffffff;
}
.icon-floating.carousel-nav {
  color: #660000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.icon-floating.carousel-nav:hover {
  color: #e3701a;
}
#footer .section.section-footerinfo {
  color: #999999;
}
#footer .section.section-footerinfo a {
  color: #808080;
}
#footer .section.section-footerinfo a:hover {
  color: #e3701a;
}
/*********************************************************************************************
 *			Section Inverse Elements
 *				1. background
 *				2. heading 
 *				3. section-header
 *				4. sectopn-more
 *				5. breadcrumbs
 *				6. highlight
 *				7. thumb
 *				8. navs
 *				9. thumbnails-bordered
 *				10. callout
 *				11. blog-entries
 *				12. widget
 *				13. separator
 *				14. icon element
 *				15. form
 *				16. pagination
 *				17. table
 *				18. accordion
 *				19. list
 *				20. carousel
 *				17. footer
 ********************************/
.section-inverse {
  color: #cecece;
}
.section-inverse a {
  color: #ffffff;
  text-decoration: none;
}
.section-inverse a:hover {
  color: #e3701a;
}
.section-inverse blockquote {
  color: #ffffff;
}
.section-inverse select,
.section-inverse textarea,
.section-inverse input {
  color: #ffffff;
}
.section-inverse .background {
  background-color: #660000;
}
.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5,
.section-inverse h6 {
  color: #ffffff;
}
.section-inverse h1 a,
.section-inverse h2 a,
.section-inverse h3 a,
.section-inverse h4 a,
.section-inverse h5 a,
.section-inverse h6 a {
  color: #ffffff;
}
.section-inverse h1 a:hover,
.section-inverse h2 a:hover,
.section-inverse h3 a:hover,
.section-inverse h4 a:hover,
.section-inverse h5 a:hover,
.section-inverse h6 a:hover {
  color: #e3701a;
}
.section-inverse .section-header::after,
.section-inverse .section-header  > .after {
  border-bottom-color: #ffffff;
}
.section-inverse .section-header .section-title span {
  border-bottom-color: #ffffff;
}
#footer .section-inverse .section-header .section-title span {
  border-bottom-color: #990000;
}
.section-inverse .section-more {
  color: #cecece;
}
.section:hover .section-inverse .section-more {
  color: #e3701a;
}
.section-inverse .breadcrumb.page-breadcrumb > li {
  color: #ffffff;
}
.section-inverse .breadcrumb.page-breadcrumb > li  > a {
  color: #ffffff;
}
.section-inverse .breadcrumb.page-breadcrumb > li  > .divider {
  color: #ffffff;
}
.section-inverse .highlight {
  background-color: #ffffff;
  color: #660000;
}
.section-inverse .thumb {
  color: #ffffff;
}
.section-inverse .thumb.thumb-framed,
.section-inverse .thumb.thumb-circled {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  color: #660000;
}
.section-inverse .thumb.section-more {
  color: #e3701a;
}
.section-inverse .thumb.section-more.thumb-framed,
.section-inverse .thumb.section-more.thumb-circled {
  color: #ffffff;
  background-color: #660000;
}
.section-inverse .thumb.section-more.thumb-framed:hover,
.section-inverse .thumb.section-more.thumb-circled:hover {
  color: #660000;
  background-color: #e3701a;
}
.section-inverse .nav.nav-pills  > li  > a:hover {
  color: #660000;
  background-color: #ffffff;
}
.section-inverse .nav.nav-pills  > li.active > a,
.section-inverse .nav.nav-pills  > li.active > a:hover {
  color: #e3701a;
  background-color: #ffffff;
}
.section-inverse .nav.nav-list {
  background-color: #570000;
  border: 1px solid #4d0000;
}
.section-inverse .nav.nav-list a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-shadow: none;
}
.section-inverse .nav.nav-list a:hover {
  background-color: #ffffff;
  color: #660000;
}
.section-inverse .nav.nav-list  > .active > a,
.section-inverse .nav.nav-list  > .active > a:hover,
.section-inverse .nav.nav-list  > .active > a:focus {
  background-color: #ffffff;
  color: #e3701a;
}
.section-inverse .thumbnails-bordered li::before,
.section-inverse .thumbnails-bordered li  > .before {
  background-color: #ffffff;
}
.section-inverse .thumbnails-bordered li::after,
.section-inverse .thumbnails-bordered li  > .after {
  background-color: #ffffff;
}
.section-inverse.callout:hover .background {
  background-color: #e3701a;
}
.section-inverse.callout:hover h1 span,
.section-inverse.callout:hover h2 span,
.section-inverse.callout:hover h3 span,
.section-inverse.callout:hover h4 span,
.section-inverse.callout:hover h5 span,
.section-inverse.callout:hover h6 span,
.section-inverse.callout:hover h1 strong,
.section-inverse.callout:hover h2 strong,
.section-inverse.callout:hover h3 strong,
.section-inverse.callout:hover h4 strong,
.section-inverse.callout:hover h5 strong,
.section-inverse.callout:hover h6 strong {
  color: #660000;
}
.section-inverse .blog-entries .entry .entry-meta span {
  color: rgba(207, 207, 207, 0.5);
}
.section-inverse .blog-entries .entry .entry-meta span.entry-author {
  color: #cecece;
}
.section-inverse .blog-entries .entry .entry-meta span.entry-author a {
  color: #cecece;
}
.section-inverse .blog-entries .entry .entry-meta span.entry-author a:hover {
  color: #e3701a;
}
.section-inverse .blog-entries .entry .entry-meta a,
.section-inverse .blog-entries .entry a.more {
  color: rgba(207, 207, 207, 0.5);
}
.section-inverse .blog-entries .entry .entry-meta a:hover,
.section-inverse .blog-entries .entry a.more:hover {
  color: #e3701a;
}
.section-inverse .blog-entries .entry-header .small {
  color: rgba(207, 207, 207, 0.6);
}
.section-inverse .blog-entries .entry-header .small a {
  color: rgba(207, 207, 207, 0.6);
}
.section-inverse .blog-entries .entry-header .small a:hover {
  color: #e3701a;
}
.section-inverse .blog-entries .type-quote {
  color: #ffffff;
}
.section-inverse .blog-entries .type-quote .entry-featured {
  /* Fallback for web browsers that doesn't support RGBa */

  background-color: #ffffff;
  /* RGBa with 0.6 opacity */

  background-color: rgba(255, 255, 255, 0.05);
  /* For IE 5.5 - 7 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#33660000', endColorstr='#33660000');
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0dffffff, endColorstr=#0dffffff)";
}
.section-inverse .blog-entries-primary .entry {
  border-color: rgba(207, 207, 207, 0.15);
}
.section-inverse .widget_calendar table td {
  border-color: rgba(207, 207, 207, 0.1);
}
.section-inverse .widget_calendar table #today {
  background-color: #cecece;
  background-color: rgba(207, 207, 207, 0.1);
}
.section-inverse .separator {
  border-top-color: #ffffff;
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.section-inverse .content-separator {
  border-top-color: #ffffff;
}
.section-inverse a > .icon-frame,
.section-inverse a > .icon-circled {
  border-color: #cecece;
}
.section-inverse a > .icon-frame:hover,
.section-inverse a > .icon-circled:hover {
  color: #660000;
  background-color: #e3701a;
  border-color: #e3701a;
}
.section-inverse select,
.section-inverse textarea,
.section-inverse input[type="text"],
.section-inverse input[type="password"],
.section-inverse input[type="datetime"],
.section-inverse input[type="datetime-local"],
.section-inverse input[type="date"],
.section-inverse input[type="month"],
.section-inverse input[type="time"],
.section-inverse input[type="week"],
.section-inverse input[type="number"],
.section-inverse input[type="email"],
.section-inverse input[type="url"],
.section-inverse input[type="search"],
.section-inverse input[type="tel"],
.section-inverse input[type="color"],
.section-inverse .uneditable-input {
  border-color: rgba(255, 255, 255, 0.65);
  background-color: transparent;
}
.section-inverse select:focus,
.section-inverse textarea:focus,
.section-inverse input[type="text"]:focus,
.section-inverse input[type="password"]:focus,
.section-inverse input[type="datetime"]:focus,
.section-inverse input[type="datetime-local"]:focus,
.section-inverse input[type="date"]:focus,
.section-inverse input[type="month"]:focus,
.section-inverse input[type="time"]:focus,
.section-inverse input[type="week"]:focus,
.section-inverse input[type="number"]:focus,
.section-inverse input[type="email"]:focus,
.section-inverse input[type="url"]:focus,
.section-inverse input[type="search"]:focus,
.section-inverse input[type="tel"]:focus,
.section-inverse input[type="color"]:focus,
.section-inverse .uneditable-input:focus {
  border-color: #ffffff;
}
.section-inverse .btn-primary {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  filter: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.65);
}
.section-inverse .btn-primary:hover,
.section-inverse .btn-primary:focus,
.section-inverse .btn-primary:active,
.section-inverse .btn-primary.active,
.section-inverse .btn-primary.disabled,
.section-inverse .btn-primary[disabled] {
  color: #660000;
  background-color: #e3701a;
  border-color: #e3701a;
}
.section-inverse .btn-primary:active,
.section-inverse .btn-primary.active {
  background-color: #e3701a;
}
.section-inverse .pagination ul li a {
  background-color: #610000;
  color: #ffffff;
  border-color: #570000;
}
.section-inverse .pagination ul li:hover a,
.section-inverse .pagination ul li:hover a:hover {
  background-color: #ffffff;
  color: #660000;
}
.section-inverse .pagination ul li.active a,
.section-inverse .pagination ul li.active a:hover {
  background-color: #ffffff;
  color: #e3701a;
}
.section-inverse .table td th {
  color: #ffffff;
}
.section-inverse .table tbody tr td {
  border-color: #570000;
}
.section-inverse .table tbody tr:first-child td {
  border-color: rgba(255, 255, 255, 0.1);
}
.section-inverse .table.table-striped tbody > tr:nth-child(odd)  > td,
.section-inverse .table.table-striped tbody > tr:nth-child(odd)  > th {
  background-color: #610000;
}
.section-inverse .nav-tabs {
  border-color: rgba(255, 255, 255, 0.2);
}
.section-inverse .nav-tabs  > .active > a,
.section-inverse .nav-tabs  > .active > a:hover,
.section-inverse .nav-tabs  > .active > a:focus {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: transparent;
  background-color: #660000;
}
.section-inverse .nav-tabs  > li > a:hover,
.section-inverse .nav-tabs  > li > a:focus {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: transparent;
  color: #cecece;
}
.section-inverse .accordion .accordion-group .accordion-heading {
  border-color: rgba(255, 255, 255, 0.1);
}
.section-inverse .accordion .accordion-group .accordion-heading .accordion-toggle {
  color: #ffffff;
}
.section-inverse .ul-texts.ul-circle li i:first-child,
.section-inverse .ul-icons.ul-circle li i:first-child {
  background-color: #ffffff;
  color: #660000;
}
.section-inverse .icon-floating.carousel-nav {
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.section-inverse .icon-floating.carousel-nav:hover {
  color: #e3701a;
}
#footer .section-inverse.section.section-footerinfo {
  color: #9b9b9b;
}
#footer .section-inverse.section.section-footerinfo a {
  color: #b5b5b5;
}
#footer .section-inverse.section.section-footerinfo a:hover {
  color: #e3701a;
}
/*********************************************************************************************
 *			Dakern Section 
 *				1. background
 *				2. heading 
 ********************************/
.section.darken .background {
  background-color: #ffffff;
}
.section.darken.section-inverse .background {
  background-color: #290000;
}
.section.darken-more .background {
  background-color: #ffc2c2;
}
.section.darken-more.section-inverse .background {
  background-color: #240000;
}
/*********************************************************************************************
 *        Responsives styles
 ********************************/
@media (max-width: 979px) {
  .navbar {
    /* Fallback for web browsers that doesn't support RGBa */
  
    background-color: #4d0000;
    /* RGBa with 0.6 opacity */
  
    background-color: rgba(77, 0, 0, 0.975);
    /* For IE 5.5 - 7 */
  
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#33660000', endColorstr='#33660000');
    /* For IE 8 */
  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f94d0000, endColorstr=#f94d0000)";
  }
  .navbar .nav-collapse .nav > li > a:hover,
  .navbar .nav-collapse .dropdown-menu a:hover,
  .navbar .nav-collapse .nav > li > a:focus,
  .navbar .nav-collapse .dropdown-menu a:focus {
    color: #e3701a;
    background-color: #660000;
  }
  .navbar .nav-collapse .dropdown-menu a {
    background-color: #520000;
  }
  .navbar .nav-collapse .active > a,
  .navbar .nav-collapse .active > a:hover,
  .navbar .nav-collapse .active > a:focus {
    color: #e3701a;
    background-color: #660000;
  }
}
