// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 768px" !default;
// $bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 1024px" !default;
// $bp-larger-than-desktop   : "min-width: 1000px" !default;
// $bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #7E7E80 !default;
$font-color: #222 !default;

// Custom Colors
$medium-gray: #7E7E80;
$blue: #0080CA;
$black: #000000;
$white: #FFFFFF;

// Typography
$font-family: "Graphik-Regular", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-regular: "Graphik-Regular";
$font-semibold: "Graphik-Semibold";

//Grid Variables
$container-width: 1600px !default;
$container-width-larger-than-mobile: 100% !default;
$container-width-larger-than-tablet: 100% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;

// Layout
$gutter: 40px;
$header-height: 54px;
$left-rail-width: 250px;
$panel-height: 800px;
