.panel {
  position: relative;
  height: $panel-full-height-mobile;

  @media (#{$bp-larger-than-tablet}) {
    height: $panel-full-height-desktop;
  }


  &--half-height {
    height: $panel-half-height;
  }

  &--primary {
    background-image: url('../images/background-pattern.png');
    background-size: 120px;

    a {
      font: inherit;
    }
  }

  &--secondary {
    height: 100%;
    overflow: hidden;
    padding: 50px 0;
    background: $greybackground;

    h3, h4 {
      color: $black;
      text-transform: uppercase;
    }
  }

  &--tertiary {
    background: $lightgreybackground;
  }

  .panel__heading {
    position: absolute;
    top: 33%;
  }

  .divider {
    margin-bottom: 10px;

    &--white {
      border: 1px solid $white;
    }

    &--black {
      border: 1px solid $black;
    }

    // Larger than tablet
    @media (#{$bp-larger-than-tablet}) {
      width: 60%;
    }
  }

  .header-row {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  img {

    @media (#{$bp-larger-than-mobile}) {
      // width: 100%;
    }
  }
}
